{{#> default }}
<div class="home">
  <h1>Latest Posts</h1>
  <ul class="post-list">
    {{#each (limit (filter pages "type" "post") 5) }}    
    <li>
      <time class="post-meta" datetime="{{ date }}">{{ dateFormat this.date "mmmm d, yyyy" }}</time>
      <h2>
        <a class="post-link" href="/{{ this.path }}">{{this.title}}</a>
      </h2>
      <p>{{{ this.excerpt }}}</p>
      <a href="/{{ this.path }}">Read More</a>
    </li>
    {{/each}}
  </ul>
  <a href="/posts">More Posts</a>
</div>
{{/default}}