<!doctype html>
<html amp lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="canonical" href="{{ site_url }}/{{ path }}" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style>
    {{{ styles.default.content }}}
    {{{ styles.prism.content }}}
    .site-header img {
      margin-top: 0px;
    }
  </style>
  <link href="/styles/prism.css" rel="stylesheet" />
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>

<body>
  <div class="main-container">
    {{> header }}
    {{> sidebar }}
    <article class="post amp">
      <h1>
        {{ title }}
      </h1>
      {{#if date }}
      <p>
        <time class="post-date" datetime="{{ date }}">{{ dateFormat this.date "mmmm d, yyyy" }}</time>
      </p>
      {{/if}}
      {{{ content_html }}}
    </article>
    {{> footer }}
    <amp-analytics type="googleanalytics">
      <script type="application/json">
        { "vars": {
            "account": "{{ google_analytics_id }}"
            },
            "triggers": {
            "trackPageview": {
                "on": "visible",
                "request": "pageview"
            }
            }
        }
        </script>
    </amp-analytics>

  </div>

</body>

</html>
