<head>
{{> google_analytics }}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{#if title }}
  <title>{{ title }} | {{ site_name }}</title>
  {{else}}
  <title>{{ site_name }}</title>
  {{/if}}
  <meta name="description" content="{{ iif excerpt site_description }}" />
  <meta name="google-site-verification" content="he52qjVKlV2Q3WIHYOn9603tAKMkPBIUXkztJ8Szyqc" />
  <style>
    {{{ indent styles.default.content 4 }}} {{{ indent styles.prism.content 4 }}}
  </style>
  <link rel="canonical" href="{{ site_url }}/{{ path }}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site_url }}/{{ sitemap_path }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site_name }}" href="{{ site_url }}/{{ rss_path }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg"/>
  <link rel="manifest" href="/manifest.json">
  {{#if path_amp }}
  <link rel="amphtml" href="{{ site_url }}/{{ path_amp }}">
  {{/if}}
</head>
