<!doctype html>
<html amp lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="canonical" href="{{ site_url }}/{{ path }}" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style>{{{ styles.default.content }}} {{{ styles.prism.content }}} .site-header img { margin-top: 0px; }</style>
  <link href="/styles/prism.css" rel="stylesheet" />
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>

<body>
  <div class="main-container">
    {{> header }}
    {{> sidebar }}
    <article class="post amp">
      <h1>
        {{ title }}
      </h1>
      {{#if date }}
      <p>
        <time class="post-date" datetime="{{ date }}">{{ dateFormat this.date "mmmm d, yyyy" }}</time>
      </p>
      {{/if}}
      {{{ indent content_html 6 }}}
      <p>
        <a target="_blank" rel="noopener noreferrer" href="https://mobile.twitter.com/search?q={{ encodeURI site_url }}/{{ encodeURI this.path }}">
          Discuss on Twitter
        </a>
        <svg class="social" viewBox="0 0 35 35">
          <title>Twitter Icon</title>
          <path fill="#49A0EB"
            d="M32 6.076a13.14 13.14 0 0 1-3.771 1.034 6.592 6.592 0 0 0 2.887-3.632 13.151 13.151 0 0 1-4.169 1.593 6.557 6.557 0 0 0-4.792-2.073 6.565 6.565 0 0 0-6.565 6.565c0 .515.058 1.016.17 1.496a18.64 18.64 0 0 1-13.532-6.86A6.536 6.536 0 0 0 1.339 7.5a6.563 6.563 0 0 0 2.921 5.465 6.54 6.54 0 0 1-2.974-.821l-.001.083a6.568 6.568 0 0 0 5.266 6.437 6.578 6.578 0 0 1-2.965.112 6.571 6.571 0 0 0 6.133 4.559 13.172 13.172 0 0 1-8.154 2.81c-.53 0-1.052-.031-1.566-.092a18.579 18.579 0 0 0 10.064 2.95c12.076 0 18.679-10.004 18.679-18.68 0-.285-.006-.568-.019-.849a13.347 13.347 0 0 0 3.276-3.398z" />
        </svg>
      </p>
    </article>
    {{> footer }}
    <amp-analytics type="googleanalytics">
      <script type="application/json">
        { "vars": {
            "account": "{{ google_analytics_id }}"
            },
            "triggers": {
            "trackPageview": {
                "on": "visible",
                "request": "pageview"
            }
            }
        }
        </script>
    </amp-analytics>

  </div>

</body>

</html>
