<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
  <div class="main-container">
    {{> header }}
    {{> sidebar }}
    <article class="post">
      <h1>
        {{ title }}
      </h1>
      {{#if date }}
      <p>
        <time class="post-date" datetime="{{ date }}">{{ dateFormat this.date "mmmm d, yyyy" }}</time>
      </p>
      {{/if}}
      {{{ indent content_html 6 }}}
    </article>
    {{> footer }}
    {{> google_analytics }}
    {{{ body_end }}}
  </div>
</body>

</html>
